In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type = 'table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [3]:
%%sql
SELECT *
  FROM facts
LIMIT 5

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

### Begin Page 4: Summary Statistics

In [4]:
%%sql
SELECT MIN(population) AS min_population,
    MAX(population) AS max_population,
    MIN(population_growth) AS min_pop_growth,
    MAX(population_growth) AS max_pop_growth
  FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

### End Page 4: Summary Statistics

### Begin Page 5: Exploring Outliers

In [5]:
%%sql
SELECT Name, population_growth
  FROM facts
 WHERE population_growth = (SELECT MIN(population_growth) AS min_pop_growth
                              FROM facts)
    OR population_growth = (SELECT MAX(population_growth)
                              FROM facts);

Done.

[('South Sudan', 4.02),
 ('Holy See (Vatican City)', 0.0),
 ('Cocos (Keeling) Islands', 0.0),
 ('Greenland', 0.0),
 ('Pitcairn Islands', 0.0)]

### End Page 5: Exploring Outliers

### Begin Page 6: Exploring Average Population and Area

In [6]:
%%sql
SELECT MIN(population) AS min_population,
    MAX(population) AS max_population,
    MIN(population_growth) AS min_pop_growth,
    MAX(population_growth) AS max_pop_growth,
    AVG(population) AS avg_population,
    AVG(area) AS avg_area
  FROM facts
 WHERE Name <> 'World'

Done.

[(0, 1367485388, 0.0, 4.02, 32242666.56846473, 555093.546184739)]

### End Page 6: Exploring Average Population and Area

### Begin Page 7: Finding Densely Populated Countries

In [9]:
%%sql
SELECT Name, population
  FROM facts
 WHERE Name <> 'World'
   AND (population > (SELECT AVG(population) FROM facts WHERE Name <> 'World')
    OR population > (SELECT AVG(area) FROM facts WHERE Name <> 'World'))
ORDER BY Name

Done.

[('Afghanistan', 32564342),
 ('Albania', 3029278),
 ('Algeria', 39542166),
 ('Angola', 19625353),
 ('Argentina', 43431886),
 ('Armenia', 3056382),
 ('Australia', 22751014),
 ('Austria', 8665550),
 ('Azerbaijan', 9780780),
 ('Bahrain', 1346613),
 ('Bangladesh', 168957745),
 ('Belarus', 9589689),
 ('Belgium', 11323973),
 ('Benin', 10448647),
 ('Bhutan', 741919),
 ('Bolivia', 10800882),
 ('Bosnia and Herzegovina', 3867055),
 ('Botswana', 2182719),
 ('Brazil', 204259812),
 ('Bulgaria', 7186893),
 ('Burkina Faso', 18931686),
 ('Burma', 56320206),
 ('Burundi', 10742276),
 ('Cambodia', 15708756),
 ('Cameroon', 23739218),
 ('Canada', 35099836),
 ('Central African Republic', 5391539),
 ('Chad', 11631456),
 ('Chile', 17508260),
 ('China', 1367485388),
 ('Colombia', 46736728),
 ('Comoros', 780971),
 ('Congo, Democratic Republic of the', 79375136),
 ('Congo, Republic of the', 4755097),
 ('Costa Rica', 4814144),
 ("Cote d'Ivoire", 23295302),
 ('Croatia', 4464844),
 ('Cuba', 11031433),
 ('Cyprus', 1189197),
 ('Czech Republic', 10644842),
 ('Denmark', 5581503),
 ('Djibouti', 828324),
 ('Dominican Republic', 10478756),
 ('Ecuador', 15868396),
 ('Egypt', 88487396),
 ('El Salvador', 6141350),
 ('Equatorial Guinea', 740743),
 ('Eritrea', 6527689),
 ('Estonia', 1265420),
 ('Ethiopia', 99465819),
 ('European Union', 513949445),
 ('Fiji', 909389),
 ('Finland', 5476922),
 ('France', 66553766),
 ('Gabon', 1705336),
 ('Gambia, The', 1967709),
 ('Gaza Strip', 1869055),
 ('Georgia', 4931226),
 ('Germany', 80854408),
 ('Ghana', 26327649),
 ('Greece', 10775643),
 ('Guatemala', 14918999),
 ('Guinea', 11780162),
 ('Guinea-Bissau', 1726170),
 ('Guyana', 735222),
 ('Haiti', 10110019),
 ('Honduras', 8746673),
 ('Hong Kong', 7141106),
 ('Hungary', 9897541),
 ('India', 1251695584),
 ('Indonesia', 255993674),
 ('Iran', 81824270),
 ('Iraq', 37056169),
 ('Ireland', 4892305),
 ('Israel', 8049314),
 ('Italy', 61855120),
 ('Jamaica', 2950210),
 ('Japan', 126919659),
 ('Jordan', 8117564),
 ('Kazakhstan', 18157122),
 ('Kenya', 45925301),
 ('Korea, North', 24983205),
 ('Korea, South', 49115196),
 ('Kosovo', 1870981),
 ('Kuwait', 2788534),
 ('Kyrgyzstan', 5664939),
 ('Laos', 6911544),
 ('Latvia', 1986705),
 ('Lebanon', 6184701),
 ('Lesotho', 1947701),
 ('Liberia', 4195666),
 ('Libya', 6411776),
 ('Lithuania', 2884433),
 ('Luxembourg', 570252),
 ('Macau', 592731),
 ('Macedonia', 2096015),
 ('Madagascar', 23812681),
 ('Malawi', 17964697),
 ('Malaysia', 30513848),
 ('Mali', 16955536),
 ('Mauritania', 3596702),
 ('Mauritius', 1339827),
 ('Mexico', 121736809),
 ('Moldova', 3546847),
 ('Mongolia', 2992908),
 ('Montenegro', 647073),
 ('Morocco', 33322699),
 ('Mozambique', 25303113),
 ('Namibia', 2212307),
 ('Nepal', 31551305),
 ('Netherlands', 16947904),
 ('New Zealand', 4438393),
 ('Nicaragua', 5907881),
 ('Niger', 18045729),
 ('Nigeria', 181562056),
 ('Norway', 5207689),
 ('Oman', 3286936),
 ('Pakistan', 199085847),
 ('Panama', 3657024),
 ('Papua New Guinea', 6672429),
 ('Paraguay', 6783272),
 ('Peru', 30444999),
 ('Philippines', 100998376),
 ('Poland', 38562189),
 ('Portugal', 10825309),
 ('Puerto Rico', 3598357),
 ('Qatar', 2194817),
 ('Romania', 21666350),
 ('Russia', 142423773),
 ('Rwanda', 12661733),
 ('Saudi Arabia', 27752316),
 ('Senegal', 13975834),
 ('Serbia', 7176794),
 ('Sierra Leone', 5879098),
 ('Singapore', 5674472),
 ('Slovakia', 5445027),
 ('Slovenia', 1983412),
 ('Solomon Islands', 622469),
 ('Somalia', 10616380),
 ('South Africa', 53675563),
 ('South Sudan', 12042910),
 ('Spain', 48146134),
 ('Sri Lanka', 22053488),
 ('Sudan', 36108853),
 ('Suriname', 579633),
 ('Swaziland', 1435613),
 ('Sweden', 9801616),
 ('Switzerland', 8121830),
 ('Syria', 17064854),
 ('Taiwan', 23415126),
 ('Tajikistan', 8191958),
 ('Tanzania', 51045882),
 ('Thailand', 67976405),
 ('Timor-Leste', 1231116),
 ('Togo', 7552318),
 ('Trinidad and Tobago', 1222363),
 ('Tunisia', 11037225),
 ('Turkey', 79414269),
 ('Turkmenistan', 5231422),
 ('Uganda', 37101745),
 ('Ukraine', 44429471),
 ('United Arab Emirates', 5779760),
 ('United Kingdom', 64088222),
 ('United States', 321368864),
 ('Uruguay', 3341893),
 ('Uzbekistan', 29199942),
 ('Venezuela', 29275460),
 ('Vietnam', 94348835),
 ('West Bank', 2785366),
 ('Western Sahara', 570866),
 ('Yemen', 26737317),
 ('Zambia', 15066266),
 ('Zimbabwe', 14229541)]

### End Page 7: Finding Densely Populated Countries